@using TodoApp.Models;
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
    // This is where I decided to pull the data we sent from the homecontroller section
    List<ToDo> todos = ViewBag.Todos;

    <h3>In completed List</h3>
    <br />
    // I decided to use foreach statement to implement the item list
    foreach (ToDo item in todos)
    {
        <div>
            <div>Title :@item.Title</div>
            <div>Completed :@item.IsCompleted</div>
            <br />
        </div>

    }
}